    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #fcfaf8;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: transform 0.3s ease;
        overflow: hidden;
        z-index: 99999;

        .sidebar-items {
            margin-top: 20px;
        }
    }

    .sidebar.collapsed {
        transform: translateX(-250px);
    }

    .sidebar-item.active {
        color: #0c2afa;
    }
