<div class="sidebar" [class.collapsed]="utilService.isSideBarCloser()">
  <div class="sidebar-content p-1">
    <div class="app-title p-3 flex items-center">
      <svg class="cursor-pointer w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
        fill="currentColor">
        <path
          d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
      </svg>
      <div class="cursor-pointer px-2 text-lg">Actinonary</div>
    </div>
    <hr>

    <div class="sidebar-items">
      <a routerLink="{{ item?.url }}" *ngFor="let item of sidebarItems"
        class="sidebar-item cursor-pointer flex items-center my-5 mx-4" [ngClass]="{ 'active': item.active }"
        (click)="setActive(item)">
        <i [class]="item.icon"></i>
        <div class="text-base px-2">{{ item.label }}</div>
      </a>
    </div>
  </div>
</div>
