<div class="w-full rounded-lg task-list">
  <p-accordion [multiple]="true">
    @for (task of tasks; track $index) {
    <p-accordion-panel #{{$index}}accor [value]="$index">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <p-button styleClass="toggle-btn" icon="pi pi-minus" severity="secondary" />
          } @else {
          <p-button styleClass="toggle-btn" icon="pi pi-plus" severity="secondary" />
          }
        </ng-template>
        <div class="flex w-full action-wraper">
          <p-badge badgeSize="xlarge" size="xlarge" severity="secondary" [value]="task.subtasks?.length" class="ml-auto mr-2" />
          <div class="w-full">
            <div *ngIf="!task.isEditable" class="task-header-text font-bold">{{ task.value }}
              <i (click)="$event.stopPropagation(); task.isEditable = true" class="pi pi-pencil header-edit cursor-pointer"></i>
            </div>
            <div class="edit-action w-full mx-1" *ngIf="task.isEditable">
              <textarea (keydown)="$event.stopPropagation()" pTextarea pSize="large" [placeholder]="task.placeholder" class="w-full color-secondary text-2xl no-border" [(ngModel)]="task.value"></textarea>
            </div>
            <div class="header-action-btn flex item-center justify-between my-2">
              <div>
                <p-button styleClass="custom-btn" severity="secondary" label="Sub Task" (onClick)="addSubTask($event, task)" icon="pi pi-plus" />
                <p-button styleClass="custom-btn mx-1" severity="secondary" label="Save" (onClick)="updateItem(task,$event)" icon="pi pi-save" />
                <p-button severity="secondary" styleClass="mx-1" (onClick)="$event.stopPropagation(); menu?.toggle($event); selectedParentItem = task " icon="pi pi-cog" label="Setting" />
                <p-button label="Filters" severity="secondary" styleClass="mx-1" (onClick)="$event.stopPropagation(); filterMenuDataRef?.toggle($event); selectedParentItem = task" icon="pi pi-filter" [ngClass]="{'active': activeFilter !== 'all'}" />
                <p-button *ngIf="activeFilter !== 'all'" label="Clear filter" (onClick)="$event.stopPropagation();activeFilter = 'all'" [link]="true" />
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        @for (subtask of task.subtasks; track $index) {
        <ng-container *ngIf="!subtask?.isDeleted">
          <div class="mb-2 flex" *ngIf="(activeFilter === 'all' || activeFilter === subtask?.isCompleted)">
            <p-checkbox inputId="ingredient1" name="pizza" [binary]="true" [(ngModel)]="subtask.isCompleted" />
            <div class="w-full">
              <div class="px-2 w-full">
                <div *ngIf="!subtask.isEditable" class="act-label task-header-text"> {{ subtask.value }}
                  <i (click)="$event.stopPropagation(); subtask.isEditable = true" class="pi pi-pencil header-edit cursor-pointer"></i>
                </div>
                <textarea pTextarea pSize="large" [placeholder]="subtask.placeholder" class="w-full color-secondary text-2xl no-border" [(ngModel)]="subtask.value" *ngIf="subtask.isEditable"></textarea>
              </div>
            </div>

            <div class="row-action">
              <i #actionBtn class="pi pi-cog cursor-pointer" (click)="onContextMenu($event, task, subtask); subTaskMenuRef?.toggle($event);" severity="secondary"></i>
            </div>
          </div>
        </ng-container>
        }
      </p-accordion-content>
    </p-accordion-panel>
    }
  </p-accordion>
</div>

<p-menu [appendTo]="'body'" #subTaskMenuRef id="config_menu_sub" [model]="subTaskMenu" [popup]="true" />
<p-menu [appendTo]="'body'" #menu id="config_menu" [model]="menudata" [popup]="true" />
<p-menu [appendTo]="'body'" #filterMenuDataRef id="config_menu_filter" [model]="filterMenuData" [popup]="true" />
