.header-edit {
  display: none;
}

.task-header-text {
  color: #000;
}

.task-header-text:hover {
  .header-edit {
    display: inline-block;
  }
}

.edit-action {
  margin-left: -5px !important;
}

::ng-deep .pi-trash {
  color: red !important;
}

::ng-deep .red-item {
  a {
    color: red !important;
  }
}

::ng-deep .active {
  .p-button-icon-only {
    background-color: #000;
    color: #fff;
  }
}
