<div id="webcrumbs" class="today-task">
  <div class="action-btn">
    <p-button *ngIf="!isNewTaskPanelOpen" label="Add Task" severity="secondary" (onClick)="addNewTask()" icon="pi pi-plus" />
    <ng-container *ngIf="isNewTaskPanelOpen">
      <p-button label="Cancel" severity="secondary" (onClick)="isNewTaskPanelOpen = false" icon="pi pi-times" class="mr-2" />
      <p-button label="Save Task" (onClick)="onSaveTask()" icon="pi pi-check" />
    </ng-container>

  </div>

  <ng-container *ngIf="isNewTaskPanelOpen">
    <div class="mb-3">
      <app-create-task [showActionBtn]="false"></app-create-task>
    </div>
  </ng-container>

  <div class="mb-3  border border-gray-300 rounded " *ngIf="tasks?.length">
    <app-task-list [tasks]="tasks"></app-task-list>
  </div>


  <div class="empty-state mt-4" *ngIf="!tasks?.length">
    <div class="empty-state__content">
      <div class="empty-state__icon">
        <img src="no-data_ig65.svg" alt="">
      </div>
      <div class="empty-state__message">No records has been added yet.</div>
      <div class="empty-state__help">
        Add a new record by simpley clicking the button on top right side.
      </div>
    </div>
  </div>
</div>

<p-menu [appendTo]="'body'" #menu id="config_menu" [model]="menudata" [popup]="true" />
