<div class="create-task-wrapper border border-gray-300">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 p-3 md:col-span-6 lg:col-span-8 border-r border-gray-300 items-stretch">
      <div class="">
        <input pInputText type="text" pSize="large" placeholder="Task title" class="w-full color-secondary text-2xl no-border" />
      </div>

      <div class="rich-task-detail py-4">
        <app-cdk-editor></app-cdk-editor>
      </div>

      <div class="flex gap-4 my-4 justify-end items-center self-end">
        <p-button severity="secondary" variant="outlined" label="Back" />
        <p-button class="w-50px" label="Create" />
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4 p-3">

      <div>
        <p-select [options]="status" size="large" optionLabel="name" placeholder="Status" class="w-full color-secondary  no-border" />
      </div>

      <div class="mt-4">
        <p-select [options]="tags" size="large" optionLabel="name" placeholder="Choose category / tag" class="w-full color-secondary  no-border" />
      </div>

      <div class="mt-4">
        <p-select [options]="priority" size="large" optionLabel="name" placeholder="Priority" class="w-full color-secondary no-border" />
      </div>


      <div class="mt-4 flex py-4 justify-between items-center">
        <div class="label">Created at :</div>
        <div class="date-time">{{ createdat | date:'dd MMM, YYYY hh:mm a' }}</div>
      </div>
    </div>
  </div>
</div>