<div class="min-h-screen flex flex-col items-center p-6 bg-white">
  <header class="mb-6 w-full flex items-center h-[60px]">
    <a [routerLink]="['/']" class="logo text-3xl">Actionary</a>
  </header>
  <div class="w-[1200px] min-h-[700px] bg-white rounded-lg flex">
    <div class="w-1/2 bg-gray-50 flex items-center justify-center">
      <img src="login.jpg" alt="Login Illustration" class="w-full h-full object-cover rounded-l-lg" />
    </div>
    <div class="flex flex-col justify-center w-1/2 p-10 border-l border-gray-300">
      <header class="mb-8 text-center">
        <h1 class="text-3xl font-title font-extrabold text-neutral-950 leading-tight">
          Welcome Back!
        </h1>
      </header>
      <form class="flex flex-col gap-6" [formGroup]="loginForm">
        <div>
          <label for="email" class="block text-sm text-neutral-500 mb-2">
            Email
          </label>
          <input formControlName="email" type="email" id="email" placeholder="Enter your email..."
            class="w-full bg-white p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-[#0c2afa] transition-all duration-300" />
          <!-- email error handling    -->
          @if(loginForm.get('email')?.touched){
          @if (loginForm.get('email')?.hasError('required')) {
          <small class="error-message">Email is required</small>
          }
          @if (loginForm.get('email')?.hasError('email')) {
          <small class="error-message">Please enter a valid email address</small>
          }
          }
        </div>
        <div>
          <label for="password" class="block text-sm text-neutral-500 mb-2">
            Password
          </label>
          <div class="relative">
            <input formControlName="password" [type]="showpassword() ? 'text': 'password'" id="password"
              placeholder="Enter your password..."
              class="w-full bg-white p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-[#0c2afa] transition-all duration-300" />
            <span (click)="changePasswordVisibilityType()"
              class="absolute inset-y-0 right-3 flex items-center material-symbols-outlined text-neutral-400 cursor-pointer transform transition duration-300 hover:text-neutral-600">
              @if (!showpassword()) {
              <i class="pi pi-eye"></i>
              }
              @if (showpassword()) {
              <i class="pi pi-eye-slash"></i>
              }
            </span>
          </div>
          <!-- password error handling  -->
          @if(loginForm.get('password')?.touched){
          @if (loginForm.get('password')?.hasError('required')) {
          <small class="error-message">Password is required</small>
          }
          @if (loginForm.get('password')?.hasError('minlength')) {
          <small class="error-message">Password must be at least 8 characters long</small>
          }
          }
        </div>
        <button type="button" (click)="onSubmit()"
          class="bg-gradient-to-r from-[#0c2afa] to-blue-600 text-primary-50 rounded-md p-2 font-bold text-lg text-center text-white">
          Log in
        </button>
      </form>
      <div class="text-sm mt-6 text-center">
        <a href="/" class="block text-neutral-500 underline mb-4 transition-all duration-300 hover:text-neutral-950">
          Forgot your password?
        </a>
        <p>
          By continuing with Google, Apple, or Email, you agree to our
          <a href="/" class="text-[#0c2afa] underline transition-all duration-300 hover:text-blue-700">
            Terms of Service
          </a>
          and
          <a href="/" class="text-[#0c2afa] underline transition-all duration-300 hover:text-blue-700">
            Privacy Policy
          </a>
          .
        </p>
      </div>
      <div class="flex items-center justify-center gap-6 mt-8">
        <div
          class="flex cursor-pointer items-center justify-center h-[48px] w-[48px] border rounded-full focus:outline-none transform transition-all duration-300 hover:scale-110">
          <i class="pi pi-google text-red-600 text-xl"></i>
        </div>
        <div
          class="flex cursor-pointer items-center justify-center h-[48px] w-[48px] border rounded-full focus:outline-none transform transition-all duration-300 hover:scale-110">
          <i class="pi pi-facebook text-blue-600 text-xl"></i>
        </div>
        <div
          class="flex cursor-pointer items-center justify-center h-[48px] w-[48px] border rounded-full focus:outline-none transform transition-all duration-300 hover:scale-110">
          <i class="pi pi-instagram text-red-600 text-xl"></i>
        </div>
        <div
          class="flex cursor-pointer items-center justify-center h-[48px] w-[48px] border rounded-full focus:outline-none transform transition-all duration-300 hover:scale-110">
          <i class="pi pi-github text-black text-xl"></i>
        </div>
      </div>
      <div class="text-center mt-8">
        <p class="text-sm text-neutral-500">
          Don’t have an account?
          <a [routerLink]="['/home/signup']"
            class="text-[#0c2afa] underline transition-all duration-300 hover:text-blue-700">
            Sign up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
