<div class="profile-page-wrapper">
  <div class="profile-card">
    <div class="profile-header">
      <div class="user-avatar">
        {{ tokenService.userDisplayName().substring(0,1).toUpperCase() }}
      </div>
      <h2>{{ tokenService.userDisplayName() }}</h2>
      <p class="email">{{ tokenService.userEmail() }}</p>
    </div>

    <div class="profile-actions">
      <a routerLink="/new/publisher/dashboard" class="btn-action primary">
        <i class="pi pi-file-edit"></i>
        <span>Go to Notes Workspace</span>
      </a>

      <button (click)="logout()" class="btn-action logout">
        <i class="pi pi-sign-out"></i>
        <span>Log Out</span>
      </button>
    </div>
  </div>
</div>
