/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
$primaryColor: #3B82F6 !default;
$primaryDarkColor: #2563eb !default;
$primaryDarkerColor: #1D4ED8 !default;
$primaryTextColor: #ffffff !default;
